.App {
  text-align: center;
}

html {
  background-color: #32373a;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-page {
  width: 100%;
  height: 100%;
  color: white;
}

.header-div {
  background-color: #32373a;
}

.graph-body {
  margin: auto;
  width: 80%;
}

.btn {
  border: 2px solid black;
  background-color: #32373a;
  color: black;
  padding: 8px 10px;
  margin: 2px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 100px;
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  text-decoration: none;
  color: #40C7EB
}

.header {
  padding: 0;
}


.card-deck {
  display: flex;
}

.mage-image {
  height: 30px;
  float: left;
  padding: 6px;
}




/* 
********************
    SIMS 
********************
*/

.nav-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 22px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 3px 4px;
  border-radius: 5px;
}

/* CLASS COLORS */
.mage {
  border-color: #40C7EB;
  color: #40C7EB;
}

.mage:hover {
  background: #40C7EB;
  color: white;
}

.mage-selected {
  color: #40C7EB;;
  box-shadow: inset 0 0 0 1px #40C7EB;
}

.warlock {
  border-color: #8787ED;
  color: #8787ED;
}

.warlock:hover, .warlock-selected {
  background: #8787ED;
  color: white;
}

.priest {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.priest:hover, .priest-selected {
  background: #FFFFFF;
  color: black;
}

.target {
  border-color: #4caf50;
  color: #4caf50;
}

.target:hover {
  background: #4caf50;
  color: white;
}

.target-selected {
  color: #4caf50;;
  box-shadow: inset 0 0 0 1px #4caf50;
}

.graph {
  border-color: #ff9800;
  color: #ff9800;
}

.graph:hover {
  background: #ff9800;
  color: white;
}

.graph-selected {
  color: #ff9800;
  box-shadow: inset 0 0 0 1px #ff9800;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.guides-div{
  overflow-x: hidden
}



/* 
********************
    VODS 
********************
*/

.vods-div {
  margin: auto;
  width: 80%;
}

.vods-div td {
  border-top: 0.5px solid #5c5c5c;
  border-bottom: 0.5px solid #5c5c5c;
}

.vods-div .boss-square {
  width: 20%;
}

.vods-div .boss-square .boss-image {
    float: left
}

.vods-div .boss-square .boss-name {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

.vods-div table {
  width: 100%;
  border-collapse: collapse;
}

.vods-div th {
  padding: 12px 4px;
}

.vods-div a {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
}

.vods-div a:hover {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
}

.vods-div .frost a:hover {
  background-color: #40C7EB;
  color: #333
} 

.vods-div .arcane a:hover {
  background-color: #d77ef8;
  color: #333
} 

.vods-div .fire a:hover {
  background-color: #ff9900;
  color: #333
} 

.vods-div .rowContent {
  padding: 1px;
  margin: 9px;
}


/* 
********************
    NAVIGATION 
********************
*/

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #32373a;
  font-family: Arial;
  border-bottom: 0.5px solid #5c5c5c;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #40C7EB;
  color: #333  
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #40C7EB;
  color: #333
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



/* 
********************
    FAQ 
********************
*/

/* Navbar container */
.faq-div {
  margin: auto;
  width: 80%;
  text-align: left;
}

.qa-div {
  padding: 1em;
}

.qa-q {
  font-weight: bold;
  text-align: left;
}

.qa-a {
  text-align: left;
}